<style type="text/css">
  form.tab-form-demo .tab-pane {
    margin: 20px 20px;
  }
</style>


<uib-tabset>
      <uib-tab heading="teatros">
          <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Tipo boleta</th>
                    <th>Costo sin tarjeta</th>
                    <th>Costo con tarjeta</th>
                    <th>Puntos a acumular</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2D 35mm (Localidad general)</td>
                    <td>$10.000</td>
                    <td>$8.000</td>
                    <td>250</td>
                </tr>
                <tr>
                    <td>2D Digital (Localidad general)</td>
                    <td>$13.000</td>
                    <td>$10.000</td>
                    <td>270</td>
                </tr>
                <tr>
                    <td>3D Digital (Localidad general)</td>
                    <td>$18.000</td>
                    <td>$15.000</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>32 IMAX (Localidad general)</td>
                    <td>$20.000</td>
                    <td>$17.000</td>
                    <td>350</td>
                </tr>
                <tr>
                    <td>2D 35mm (Localidad preferencial)</td>
                    <td>$15.000</td>
                    <td>$13.000</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>2D Digital (Localidad preferencial)</td>
                    <td>$18.000</td>
                    <td>$15.000</td>
                    <td>320</td>
                </tr>
                <tr>
                    <td>3D Digital (Localidad preferencial)</td>
                    <td>$23.000</td>
                    <td>$20.000</td>
                    <td>350</td>
                </tr>
                <tr>
                    <td>3D IMAX (Localidad preferencial)</td>
                    <td>$25.000</td>
                    <td>$22.000</td>
                    <td>400</td>
                </tr>
            </tbody>
        </table>
        <p>NOTA: Las gafas en funciones 3D se darán a la entrada a cada función y serán devueltas por los clientes a su finalización.</p>
        
      </uib-tab>
      <uib-tab heading="Confiteria">
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Combo</th>
                    <th>Costo sin tarjeta</th>
                    <th>Costo con tarjeta</th>
                    <th>Puntos a acumular</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Combo 1</td>
                    <td>$16.000</td>
                    <td>$10.000</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Combo 2</td>
                    <td>$15.000</td>
                    <td>$9.000</td>
                    <td>70</td>
                </tr>
                <tr>
                    <td>Combo 3</td>
                    <td>$20.000</td>
                    <td>$15.000</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Combo 4</td>
                    <td>$23.000</td>
                    <td>$17.000</td>
                    <td>250</td>
                </tr>
            </tbody>
        </table>
                    
          
   
      </uib-tab>
      <uib-tab heading="Tarjeta CineUdeA">
         <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Producto a redimir</th>
                    <th>Puntos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Combo 1</td>
                    <td>700</td>
                </tr>
                <tr>
                    <td>Combo 2</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>Combo 3</td>
                    <td>1300</td>
                </tr>
                <tr>
                    <td>Combo 4</td>
                    <td>1500</td>
                </tr>
                <tr>
                    <td>Boleta 2D 35mm (Localidad general)</td>
                    <td>900</td>
                </tr>
                <tr>
                    <td>Boleta 2D Digital (Localidad general)</td>
                    <td>1200</td>
                </tr>
                <tr>
                    <td>Boleta 3D Digital (Localidad general)</td>
                    <td>1500</td>
                </tr>
                <tr>
                    <td>Boleta 3D IMAX (Localidad general)</td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td>Boleta 3D Digital (Localidad general) + Combo 2</td>
                    <td>2600</td>
                </tr>
                <tr>
                    <td>Boleta 3D Digital (Localidad general) + Combo 3</td>
                    <td>2900</td>
                </tr>
                <tr>
                    <td>Boleta 2D 35mm (Localidad preferencial)</td>
                    <td>1500</td>
                </tr>
                <tr>
                    <td>Boleta 2D Digital (Localidad preferencial)</td>
                    <td>1600</td>
                </tr>
                <tr>
                    <td>Boleta 3D Digital (Localidad preferencial)</td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td>Boleta 3D IMAX (Localidad preferencial)</td>
                    <td>2500</td>
                </tr>
                <tr>
                    <td>Boleta 3D Digital (Localidad preferencial) + Combo 2</td>
                    <td>3100</td>
                </tr>
                <tr>
                    <td>Boleta 3D Digital (Localidad preferencial) + Combo 3</td>
                    <td>3400</td>
                </tr>
            </tbody>
        </table>
        
                    
                 
          
   
      </uib-tab>
      
    </uib-tabset>


<!--<ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Teatros</a></li>
    <li><a href="#tab2" data-toggle="tab">Confiteria</a></li>
    <li><a href="#tab3" data-toggle="tab">Tarjeta CineUdeA</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane" id="tab1">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Tipo boleta</th>
                    <th>Costo sin tarjeta</th>
                    <th>Costo con tarjeta</th>
                    <th>Puntos a acumular</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2D 35mm (Localidad general)</td>
                    <td>$10.000</td>
                    <td>$8.000</td>
                    <td>250</td>
                </tr>
                <tr>
                    <td>2D Digital (Localidad general)</td>
                    <td>$13.000</td>
                    <td>$10.000</td>
                    <td>270</td>
                </tr>
                <tr>
                    <td>3D Digital (Localidad general)</td>
                    <td>$18.000</td>
                    <td>$15.000</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>32 IMAX (Localidad general)</td>
                    <td>$20.000</td>
                    <td>$17.000</td>
                    <td>350</td>
                </tr>
                <tr>
                    <td>2D 35mm (Localidad preferencial)</td>
                    <td>$15.000</td>
                    <td>$13.000</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>2D Digital (Localidad preferencial)</td>
                    <td>$18.000</td>
                    <td>$15.000</td>
                    <td>320</td>
                </tr>
                <tr>
                    <td>3D Digital (Localidad preferencial)</td>
                    <td>$23.000</td>
                    <td>$20.000</td>
                    <td>350</td>
                </tr>
                <tr>
                    <td>3D IMAX (Localidad preferencial)</td>
                    <td>$25.000</td>
                    <td>$22.000</td>
                    <td>400</td>
                </tr>
            </tbody>
        </table>
        <p>NOTA: Las gafas en funciones 3D se darán a la entrada a cada función y serán devueltas por los clientes a su finalización.</p>
    </div>
    <div class="tab-pane" id="tab2">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Combo</th>
                    <th>Costo sin tarjeta</th>
                    <th>Costo con tarjeta</th>
                    <th>Puntos a acumular</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Combo 1</td>
                    <td>$16.000</td>
                    <td>$10.000</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>Combo 2</td>
                    <td>$15.000</td>
                    <td>$9.000</td>
                    <td>70</td>
                </tr>
                <tr>
                    <td>Combo 3</td>
                    <td>$20.000</td>
                    <td>$15.000</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Combo 4</td>
                    <td>$23.000</td>
                    <td>$17.000</td>
                    <td>250</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="tab3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Producto a redimir</th>
                    <th>Puntos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Combo 1</td>
                    <td>700</td>
                </tr>
                <tr>
                    <td>Combo 2</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>Combo 3</td>
                    <td>1300</td>
                </tr>
                <tr>
                    <td>Combo 4</td>
                    <td>1500</td>
                </tr>
                <tr>
                    <td>Boleta 2D 35mm (Localidad general)</td>
                    <td>900</td>
                </tr>
                <tr>
                    <td>Boleta 2D Digital (Localidad general)</td>
                    <td>1200</td>
                </tr>
                <tr>
                    <td>Boleta 3D Digital (Localidad general)</td>
                    <td>1500</td>
                </tr>
                <tr>
                    <td>Boleta 3D IMAX (Localidad general)</td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td>Boleta 3D Digital (Localidad general) + Combo 2</td>
                    <td>2600</td>
                </tr>
                <tr>
                    <td>Boleta 3D Digital (Localidad general) + Combo 3</td>
                    <td>2900</td>
                </tr>
                <tr>
                    <td>Boleta 2D 35mm (Localidad preferencial)</td>
                    <td>1500</td>
                </tr>
                <tr>
                    <td>Boleta 2D Digital (Localidad preferencial)</td>
                    <td>1600</td>
                </tr>
                <tr>
                    <td>Boleta 3D Digital (Localidad preferencial)</td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td>Boleta 3D IMAX (Localidad preferencial)</td>
                    <td>2500</td>
                </tr>
                <tr>
                    <td>Boleta 3D Digital (Localidad preferencial) + Combo 2</td>
                    <td>3100</td>
                </tr>
                <tr>
                    <td>Boleta 3D Digital (Localidad preferencial) + Combo 3</td>
                    <td>3400</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>-->