<!DOCTYPE html>
<html ng-app="cineUdea">
  <head>
    
    <title>Cine Udea</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="cliente/css/app.css" type="text/css" />-->
    <link rel="stylesheet" href="cliente/css/font-awesome/css/font-awesome.min.css" type="text/css" />
    
    <!--<link rel="stylesheet" type="text/css" href="cliente/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="cliente/css/estiloPrincipal.css">
    <link rel="stylesheet" type="text/css" href="ciente/css/style.css"  /> -->
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Maven+Pro:500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="cliente/css/half-slider.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="cliente/css/estiloPrincipal.css">
    <link rel="stylesheet" type="text/css" href="cliente/css/estiloGeneral.css">
    <link rel="stylesheet" href="cliente/css/style.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="cliente/css/estiloCartelera.css">
    <link rel="stylesheet" type="text/css" href="cliente/css/estiloGeneral.css">
    <link rel="stylesheet" type="text/css" href="cliente/css/estiloTarifas.css">
    <link rel="stylesheet" type="text/css" href="cliente/css/estiloPelicula.css">
    <link rel="shortcut icon" href="https://cdn0.iconfinder.com/data/icons/cinema-tools/32/popcorns-48.png">
    
  </head>
  
  <body>
    
    <nav class="navbar navbar-fixed-top"   ng-controller="navController">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <!-- Logo -->
          <a class="navbar-brand" ui-sref="Home" ><img src="https://cdn0.iconfinder.com/data/icons/cinema-tools/32/popcorns-32.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            
            <li class="dropdown">
              <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cartelera <span class="caret"></span></a>
              <ul class="dropdown-menu">
                 <li ng-repeat="cine in cines"><a ui-sref="Cartelera({cineID:cine._id ,carteleraID:cine.cartelera})" >{{cine.nombre}}</a></li>
              </ul>
            </li>
            <li ><a href="" ui-sref="Home" >Estrenos</a></li>
            <li ><a ui-sref="Tarifas"  >Tarifas</a></li>
            <!--<li ><a href="" >Servicios</a></li>-->
            
            
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <!--<li ng-hide="isLoggedIn()"><a href="#registo" ui-sref="Registro" >Registrarse</a></li>-->
            <li ng-hide="isLoggedIn()"><a href="" ng-click="registro()" >Registrarse</a></li>
            <!--<li ng-hide="isLoggedIn()"><a ui-sref="Login">Login</a></li>-->
            <li ng-hide="isLoggedIn()"><a href="" ng-click="login()">Login</a></li>
            <li ng-show="isLoggedIn()"><a href="" ui-sref="Perfil">Bienvenido {{getCurrentUser().nombres}} [{{getCurrentUser().puntos}}]</a></li>
            <li ng-show="isLoggedIn()"><a href="" ng-click="logout()"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <header id="myCarousel" class="carousel slide"   >
      <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></l>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      
      <div class="carousel-inner">
          <div class="item active">
              <div class="fill" style="background-image:url('https://cine-u-de-a-cposada23.c9users.io/public/recursos/imagenes/minions.jpg')"></div>
              <div class="carousel-caption">
                  <h2>Minions</h2>
              </div>
          </div>
          
          <div class="item">
              <div class="fill" style="background-image:url('https://cine-u-de-a-cposada23.c9users.io/public/recursos/imagenes/dpool.jpg')"></div>
              <div class="carousel-caption">
                  <h2>Dead Pool</h2>
              </div>
          </div>
          
          <div class="item">
              <div class="fill" style="background-image:url('https://cine-u-de-a-cposada23.c9users.io/public/recursos/imagenes/ultron.jpg')"></div>
              <div class="carousel-caption">
                  <h2>Avengers: Age of Ultron</h2>
              </div>
          </div>
          
          <div class="item">
              <div class="fill" style="background-image:url('https://cine-u-de-a-cposada23.c9users.io/public/recursos/imagenes/btsp.jpg')"></div>
              <div class="carousel-caption">
                  <h2>Batman v Superman</h2>
              </div>
          </div>
      </div>
      
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="icon-next"></span>
      </a>    
    </header>
    
    <!-- Para cargar el contenido dinamico -->
    <div class="center-block" style="overflow: hidden;">
      <div  ui-view  class="ppal b center-block" id="principal" style="overflow: hidden;"></div>
    </div>

    <footer class="center-block text-center">
        <div>
            <h1 class="maven-font">Contacto</h1>
            <p>CineUdeA</p>
            <p>Teléfonos: 1234567 - 9876543</p>
            <p>Correo electrónico: cineudea@gmail.com</p>
            <p>Dirección: carrera 123 #33-33</p>
            <hr width=80% align="center">
        </div>
        <p>
            <div id="contacto">

                <div id="escribeme" class="col-md-6 center-block">
                    <h2 class="maven-font">Escríbenos</h2>
                    <form class="form-horizontal">
                        <fieldset>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Nombre</label>
                                <div class="col-md-4">
                                    <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" required="">
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="in_e-mail">Email</label>
                                <div class="col-md-4">
                                    <input id="in_e-mail" name="in_e-mail" type="text" placeholder="" class="form-control input-md" required="">
                                </div>
                            </div>

                            <!-- Textarea -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="in_message"></label>
                                <div class="col-md-4">
                                    <textarea class="form-control" id="in_message" name="in_message" required>Mensaje</textarea>
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="send_button"></label>
                                <div class="col-md-4">
                                    <button id="send_button" name="send_button" class="btn btn-primary">Enviar</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
                <div id="mapa" class="col-md-6 center-block">
                    <h2 class="maven-font">Ubicación</h2>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3965.965099311006!2d-75.56749998790337!3d6.268320500404635!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x10cce7ece69b2e2b!2sUniversidad+De+Antioquia!5e0!3m2!1ses-419!2sco!4v1435337292902"
                    width="400" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <hr width=80% align="center">
                <div id="social_network">
                    <a href="https://www.facebook.com/Cine-UdeA-488636664594960" target="_blank"><img src="cliente/src/social_network/facebook_64.png"></a>
                    <a href="https://twitter.com/CineUdea" target="_blank"><img src="cliente/src/social_network/twitter_64.png"></a>
                    <a href="http://www.instagram.com" target="_blank"><img src="cliente/src/social_network/instagram_64.png"></a>
                </div>
            </div>
    </footer>
    
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.2/angular.min.js"></script>
    <!-- angular animate -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <!-- uirouter -->
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <!-- ngcookies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
    <!-- resource -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.js"></script>
    <!-- ui-bootstrap -->
    <script type="text/javascript" src="cliente/js/ui-bootstrap-tpls-1.1.0.min.js"></script>
    
    <!--spiner -->
    <script type="text/javascript" src="cliente/js/spin.js"></script>
    <script type="text/javascript" src="cliente/js/angular-spinner.js"></script>
    
    <!-- script app -->
    
    <!-- app -->
    <script type="text/javascript" src="cliente/app/app.js"></script>
    <script type="text/javascript" src="cliente/app/controladores/navController.js"></script>
    <script type="text/javascript" src="cliente/app/controladores/registroController.js"></script>
    <script type="text/javascript" src="cliente/app/controladores/auth/auth.service.js"></script>
    <script type="text/javascript" src="cliente/app/controladores/auth/usuario.service.js"></script>
    <script type="text/javascript" src="cliente/app/controladores/loginController.js"></script>
    <script type="text/javascript" src="cliente/app/controladores/auth/moongoose-error.directive.js"></script>
    <script type="text/javascript" src="Cliente/app/controladores/carteleraController.js"></script>
    <script type="text/javascript" src="cliente/app/controladores/peliculaController.js"></script>
    <script type="text/javascript" src="cliente/app/controladores/reservaController.js"></script>
    <script type="text/javascript" src="cliente/app/controladores/homeCtrl.js"></script>
    <script type="text/javascript" src="cliente/app/controladores/perfilController.js"></script>
    <script type="text/javascript" src="cliente/app/controladores/pagoController.js"></script>
    
    <script type="text/javascript" src="cliente/app/controladores/registroController2.js"></script>
    <script type="text/javascript" src="cliente/app/controladores/loginController2.js"></script>
    
    <!--Modals-->
    <script type="text/javascript" src="cliente/app/controladores/modal/registroModal.js"></script>
    <script type="text/javascript" src="cliente/app/controladores/modal/loginModal.js"></script>
    <script type="text/javascript" src="cliente/app/controladores/modal/pagoModal.js"></script>
  
    
    <script type="text/javascript" src="cliente/js/jquery.slides.js"></script>


	<script >
	  $('.carousel').carousel({
      interval:3000	  
	  })
	</script>
    
     
    
  </body>
</html>