body{
	background-color: #A11913;
	font-family: 'Raleway', sans-serif;
	border-radius: 3px;
}

footer{
	padding-top:30px;
	margin-top:20px;
	background-color: rgb(17,31,41); 
	color: white;
	width: 95%;
	border-radius: 3px;
	margin-bottom: 20px;
	margin: 10px;
}

nav{
	font-family: 'Maven Pro', sans-serif;
	font-size: 1.2em;	
}

textarea{
	resize:none;

}

.maven-font{
	font-family: 'Maven Pro', sans-serif;
}
 .navbar-default{
 	background-color: rgb(17,31,41); 	
 }

/*Arreglar*/
.navbar-default ul li a{
	color: #286090;
}

.navbar-default .navbar-nav>li>a {
	color: #FFFFFF;
}

#principal{
	background-color: rgb(248,249,244);
	width: 95%;
	height: 3500px;	
	margin-top: 90px;
	margin-bottom: 30px;
	padding-top:20px;
	padding-bottom:20px;
}

.ppal{
	width: 100%;
	height: 100%;
}

